.hero-slider {
    width: 100%;
    height: auto;
    padding-right: 15px;
    position: relative;
}

.hero-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-slider-images {
    width: 100%;
    height: 430px;
    overflow: hidden;
    object-fit: cover;
}

.hero-slider-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(61, 70, 77, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}

.slider-details > h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    animation-name: FadeInDown;
    animation-duration: 1s;
}

.slider-details > p {
    width: 55%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    animation-name: Bounce;
    animation-duration: 1s;
}

.slider-details > button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.5;
    animation-name: FadeInUp;
    animation-duration: 1s;
}

.slider-details > button:hover {
    color: #212529;
    background-color: #FFFFFF;
}

.hero-slider-controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 1rem;
}

.hero-slider-controls > div{
    width: 15px;
    height: 15px;
    margin: 0 3px 12px 3px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.control-active {
    width: 30px;
    background: #FFFFFF;
}

@keyframes FadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes Bounce {
    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
    20% {
        transform: scale3d(1.1,1.1,1.1);
    }
    40% {
        transform: scale3d(.9,.9,.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03);
    }
    80% {
        transform: scale3d(.97,.97,.97);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes FadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}