.hero-slider {
    width: 66%;
    height: auto;
    padding-right: 15px;
}

.hero-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-slider-images {
    width: 100%;
    height: 430px;
    overflow: hidden;
    object-fit: cover;
}

.hero-slider-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(61, 70, 77, 0.5);
    z-index: 10;
}